# dependencies
/node_modules
/.pnp
.pnp.js

# production
/dist
/dist-ssr
*.local

# editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# environment variables
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# testing
/coverage

# temp files
*.tmp
*.temp
*~
