node_modules/
android/app/build/
ios/Pods/
ios/build/
*.log
.DS_Store
.idea/
.vscode/
coverage/
*.keystore
*.jks
*.p8
*.p12
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
*.iml
.gradle/
local.properties
*.hprof
*.apk
*.aab
*.ipa
